In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2022-07-26 03:34:42,-21.2000,-175.2000,78.96,83,40,9.22
1,1,Mataura,NZ,2022-07-26 03:34:17,-46.1927,168.8643,45.48,97,100,10.54
2,2,Bambous Virieux,MU,2022-07-26 03:33:58,-20.3428,57.7575,67.21,94,75,3.44
3,3,Avarua,CK,2022-07-26 03:32:50,-21.2078,-159.7750,73.45,60,20,8.05
4,4,Kapaa,US,2022-07-26 03:34:16,22.0752,-159.3190,84.18,71,75,14.97

In [3]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = [max(temp, 0) for temp in max_temp]

In [24]:
# Heatmap of temperature
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, 
                                max_intensity=300, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of temperature.
# Get the latitude and longitude.
locations=city_data_df[["Lat","Lng"]]


#Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer.
fig.add_layer(heat_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of humidity
locations = city_data_df[["Lat", "Lng"]]

# Get the humidity.
humidity = city_data_df["Humidity"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, 
                                max_intensity=100, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]

# Get the humidity.
cloudiness = city_data_df["Cloudiness"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, 
                                max_intensity=100, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]

# Get the wind speed.
wind = city_data_df["Wind Speed"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, 
                                max_intensity=100, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the city_data_df
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                         (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2022-07-26 03:34:42,-21.2000,-175.2000,78.96,83,40,9.22
4,4,Kapaa,US,2022-07-26 03:34:16,22.0752,-159.3190,84.18,71,75,14.97
7,7,Champerico,GT,2022-07-26 03:40:45,14.3000,-91.9167,79.77,78,74,3.00
9,9,Yanggu,CN,2022-07-26 03:40:59,36.1106,115.7753,85.77,66,31,5.93
10,10,Vostok,RU,2022-07-26 03:36:35,46.4856,135.8833,75.88,60,81,3.42

In [16]:
preferred_cities_df.count()

City_ID       211
City          211
Country       211
Date          211
Lat           211
Lng           211
Max Temp      211
Humidity      211
Cloudiness    211
Wind Speed    211
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df.head()

C:\Users\hcfor\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

          City Country  Max Temp      Lat       Lng Hotel Name
0        Vaini      TO     78.96 -21.2000 -175.2000
4        Kapaa      US     84.18  22.0752 -159.3190
7   Champerico      GT     79.77  14.3000  -91.9167
9       Yanggu      CN     85.77  36.1106  115.7753
10      Vostok      RU     75.88  46.4856  135.8833

In [18]:
# Set parameters to search for a hotel.
params = {
    "key": g_key,
    "type": "lodging",
    "radius": 5000}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    
    # Grab the first hotel from the results and store the name.    
    hotels = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

C:\Users\hcfor\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
4,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
7,Champerico,GT,79.77,14.3000,-91.9167,"Hotel y restaurante ""El Diamante"""
9,Yanggu,CN,85.77,36.1106,115.7753,Supply And Marketing Hotel
10,Vostok,RU,75.88,46.4856,135.8833,
12,Rikitea,PF,75.33,-23.1203,-134.9692,People ThankYou
15,Alofi,NU,75.09,-19.0595,-169.9187,Taloa Heights
21,Meulaboh,ID,78.24,4.1363,96.1285,Kost Pria
29,Atuona,PF,77.77,-9.8000,-139.0333,Villa Enata
32,Hobyo,SO,75.56,5.3505,48.5268,Iftin hotel hobyo

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Heatmap of temperature for vacation spots.
locations = hotel_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = hotel_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, 
                                max_intensity=300, point_radius=3)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Add the maker layer
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))